html {
	--small-border-radius: 10px;
	--big-border-radius: 14px;
	--bigger-border-radius: 24px;

	--accent-color: rgb(88, 94, 254);
	--text-color-button: white;

	--dark-txt-col: white;
	--dark-txt-col-secondary: rgba(255, 255, 255, 0.66);
	--light-txt-col: black;
	--light-txt-col-secondary: rgba(0, 0, 0, 0.66);

	// light mode
	&.lightMode {
		--page-color: rgb(225, 225, 230);
		--background-color: rgb(221, 221, 215);
		--alt-background-color: rgb(211, 211, 205);
		--border-color: rgba(0, 0, 0, 0);
		--accent-background-color: rgb(198, 198, 193);
		--box-background-color: rgb(47, 52, 56); //TODO: needs to be made light

		--text-color-primary: rgba(0, 0, 0, 1);
		--text-color-secondary: rgba(0, 0, 0, 0.66);
		--text-color-tertiary: rgba(0, 0, 0, 0.4);
	}

	// dark mode
	&.darkMode {
		--page-color: rgb(37, 41, 46);
		--background-color: rgb(34, 34, 40);
		--alt-background-color: rgb(20, 20, 26);
		--border-color: rgba(58, 58, 58, 1);
		--accent-background-color: rgb(57, 57, 62);
		--box-background-color: rgb(47, 52, 56);

		--text-color-primary: rgba(255, 255, 255, 1);
		--text-color-secondary: rgba(255, 255, 255, 0.66);
		--text-color-tertiary: rgba(255, 255, 255, 0.35);
	}
}
