html {
	--border-radius-primary: 8px;
	--border-radius-secondary: var(--padding-size-secondary);

	--padding-size-primary: 8px;
	--padding-size-secondary: 11px;
	--padding-size-tertiary: 24px;

	--text-color-button: white;

	--dark-txt-col: white;
	--dark-txt-col-secondary: rgba(255, 255, 255, 0.66);
	--light-txt-col: black;
	--light-txt-col-secondary: rgba(0, 0, 0, 0.66);

	// light mode
	&.lightMode {
		--background-color-primary: rgb(225, 225, 230);
		--background-color-secondary: rgb(221, 221, 215);
		--background-color-tertiary: rgb(211, 211, 205);
		--background-color-quanternary: rgb(255, 0, 0); //FIXME: needs to be designed

		--accent-color-primary: rgb(88, 94, 254);
		--accent-color-secondary: rgb(198, 198, 193);

		--text-color-primary: rgba(0, 0, 0, 1);
		--text-color-secondary: rgba(0, 0, 0, 0.66);
		--text-color-tertiary: rgba(0, 0, 0, 0.4);
	}

	// dark mode
	&.darkMode {
		--background-color-primary: rgb(37, 41, 46);
		--background-color-secondary: rgb(34, 34, 40);
		--background-color-tertiary: rgb(20, 20, 26);
		--background-color-quanternary: rgb(47, 52, 56);

		--border-color: rgba(58, 58, 58, 1);

		--accent-color-primary: rgb(88, 94, 254);
		--accent-color-secondary: rgb(57, 57, 62);

		--text-color-primary: rgba(255, 255, 255, 1);
		--text-color-secondary: rgba(255, 255, 255, 0.66);
		--text-color-tertiary: rgba(255, 255, 255, 0.35);
	}
}
