#loginBox {
	background: var(--background-color-tertiary);
	width: calc(100vw - 20px);
	max-width: 600px;
	padding: 25px;
	border-radius: var(--border-radius-secondary);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-width: 1px;
	border-color: var(--border-color);
	border-style: solid;
	box-shadow: 0 12px 30px 4px rgba(0, 0, 0, 0.26);

	#loginInfo {
		margin-top: 60px;
		background: var(--background-color-secondary);
		border-radius: var(--border-radius-primary);
		margin-bottom: 30px;
		text-align: center;
		padding-top: 70px;
		padding-bottom: 20px;
	}

	#logo {
		width: 150px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
	}

	h1 {
		color: var(--dark-txt-col);
		font-weight: 600;
		font-size: 26pt;
		margin: 0;
	}

	h2 {
		color: var(--dark-txt-col-secondary);
		font-weight: 500;
		font-size: 12pt;
		margin: 10px 0;
	}

	// overwrite styling for generic button edgecase
	> .genericButton {
		background-color: var(--accent-color-secondary);
	}
	.genericButton {
		text-align: center !important;
		font-weight: 500;

		&:hover {
			background-color: var(--accent-color-primary);
		}
	}
}
