#settings {
	color: var(--text-color-primary);
	max-width: 1200px;
	margin: var(--padding-size-tertiary) auto;
	width: calc(100% - var(--padding-size-tertiary) * 2);

	h1 {
		width: fit-content;
		color: var(--text-color-tertiary);
		font-weight: 600;
		font-size: 14pt;
	}
	p {
		font-size: 11pt;
	}
}
