a {
	user-select: text;
	text-decoration: none;
	transition: margin 0.25s ease;
		-webkit-transition: margin 0.25s ease;
		-moz-transition: margin 0.25s ease;
		-o-transition: margin 0.25s ease;
		-ms-transition: margin 0.25s ease;
}


	.voteControls {
		color: var(--text-color-primary);
		visibility: hidden;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 76px;
		text-align: center;

		button {
			transition: opacity 0.3s ease, transform 0.4s ease, border-radius 0.4s ease;
			-webkit-transition: opacity 0.3s ease, transform 0.4s ease, border-radius 0.4s ease;
			-moz-transition: opacity 0.3s ease, transform 0.4s ease, border-radius 0.4s ease;
			-o-transition: opacity 0.3s ease, transform 0.4s ease, border-radius 0.4s ease;
			-ms-transition: opacity 0.3s ease, transform 0.4s ease, border-radius 0.4s ease;
			transform: rotate(90deg) scale(0);
			opacity: 0;
			border-radius: 100px;
			outline: none !important;
		}

		* {
			display: block;
		}
	}

	.post {
		transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
			min-height 0.3s ease;
		-webkit-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease,
			max-height 0.3s ease, min-height 0.3s ease;
		-moz-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
			min-height 0.3s ease;
		-o-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
			min-height 0.3s ease;
		-ms-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
			min-height 0.3s ease;

		// contains post title / poster username / subreddit name
		.postInfo {
			// post title
			h1 {
				font-size: 16pt;
			}
			// username / subreddit
			p {
				color: var(--text-color-secondary);
			}
		}

		* {
			transition: height 0.3s ease;
			-webkit-transition: height 0.3s ease;
			-moz-transition: height 0.3s ease;
			-o-transition: height 0.3s ease;
			-ms-transition: height 0.3s ease;
		}

		position: relative;
		color: var(--text-color-primary);
		padding: 10px;
		background-color: var(--box-background-color);
		max-height: 120px;
		min-height: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-bottom: 86px; // post controls height + normal padding (avoids text moving when hovering)

		// hide post content
		.postContent {
			visibility: hidden;
		}

		// image/video posts
		&.image,
		&.video {
			img,
			video {
				order: -1;
				border-radius: calc(var(--small-border-radius) - (var(--small-border-radius) / 2));
				height: 100px;
				margin-right: 15px;
			}
			display: flex;
		}
	}


// enlarge post
.postWrapper.top {
	margin-bottom: 10px;
	margin-top: 10px;

	a {
		margin-left: 76px;
		height: 100%;
		display: block;
	}

	.voteControls {
		visibility: visible;

		button {
			background: var(--accent-background-color);
			color: var(--text-color-primary);
			border: none;
			border-radius: var(--small-border-radius);
			height: 52px;
			width: 52px;
			margin: 8px auto;
			opacity: 1;
			transform: rotate(0) scale(1);

			&.selected {
				background: var(--accent-color) !important;
			}
		}

		.votesContainer {
			background-color: var(--accent-background-color); //temporary plz fix
			width: 100%;
			text-align: center;
			padding: 4px;

			button {
				background: var(--background-color);
			}
			p {
				margin: 8px auto;
			}
		}
	}

	// show post content (text post) when expanded
	.postContent {
		visibility: visible;
	}

	.post {
		box-shadow: -25px 0px 25px -20px rgba(0, 0, 0, 0.2);
		min-height: 356px;
		max-height: 520px; // img/video height + padding * 2
		padding-right: 10px; // revert to normal padding (avoids text moving when hovering)
		img,
		video {
			height: 500px;
		}
	}
}
