button {
	width: 100%;
	padding: 8px 16px;
	margin: 5px auto;
	border-radius: var(--small-border-radius);
	text-align: left;

	background: none;
	border: none;
	outline: none;

	color: var(--text-color-primary);
	font-size: 12pt;

	svg {
		float: left;
		width: 20px;
		margin-right: 10px;
		path {
			fill: var(--text-color-primary) !important;
		}
	}
}

.selected button {
		background-color: var(--accent-color);
}
