.genericButton {
	width: 100%;
	padding: 10px 16px;
	margin: 5px auto;
	border-radius: var(--small-border-radius);

	text-transform: capitalize;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	background: none;
	border: none;
	outline: none;

	color: var(--text-color-primary);
	font-size: 11pt;

	svg {
		* {
			fill: none;
			stroke-width: 18px;
			stroke: var(--text-color-primary);
			stroke-linecap: round;
			stroke-linejoin: round;
		}
		.strokeNone {
			stroke: none;
		}
		.strokeThick {
			stroke-width: 30px;
		}
	}

	.icon {
		border-radius: var(--small-border-radius);
		float: left;
		margin-right: 12px;

		text-align: center;
		font-size: 10pt;
		font-weight: 600;

		width: 22px;
		height: 22px;
		line-height: 22px;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

// style applied to both hover and select effect
.selected .genericButton,
.genericButton:hover {
	font-weight: 600;
	svg {
		.fill {
			fill: var(--text-color-tertiary);
		}
	}
}

// style applied to JUST select effect
.selected .genericButton {
	background-color: var(--accent-color) !important;
}
