.genericButton.horizontal {
	text-align: left;
	line-height: var(--padding-size-tertiary);

	svg {
		width: var(--padding-size-tertiary);
		float: left;
		margin-right: var(--padding-size-secondary);
	}

	&:hover {
		background-color: var(--background-color-tertiary);
	}
}
