.genericButton.vertical {
	text-align: center;
	padding: var(--padding-size-primary) 0;
	font-size: 9pt;
	background-color: var(--background-color-secondary);

	svg {
		width: calc(100% - 16px);
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
	}
}
