.post {
	transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-webkit-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-moz-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-o-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-ms-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;

	display: flex;
	justify-content: space-between;

	img, video {
		justify-self: right;
		height: 80px;
		visibility: visible;
	}

	.postInfo {
		* {
			visibility: visible;
		}
		// post title
		h1 {
			font-size: 16pt;
			max-width: calc(100% - 20px);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		// username / subreddit / time posted
		p {
			color: var(--text-color-secondary);
		}
	}

	.postContent {
		visibility: hidden;
	}

	color: var(--text-color-primary);
	padding: 10px;
	background-color: var(--box-background-color);
	max-height: 100px;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 2px;
}

// expanded post
a.expanded .post,
.post.expanded {
	max-height: 600px;

	.postContent {
		visibility: visible;
	}
	img,
	video {
		height: 480px;
	}
}
