.post {
	transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-webkit-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-moz-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-o-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-ms-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	font-size: 11pt;

	color: var(--text-color-primary);
	padding: var(--padding-size-secondary);
	max-height: calc(80px + 2 * (var(--padding-size-secondary)));
	min-height: calc(80px + 2 * (var(--padding-size-secondary)));
	overflow: hidden;

	border-width: 2px;
	border-bottom-style: solid;
	border-color: var(--border-color);

	img,
	video {
		&:first-child {
			border-radius: var(--border-radius-primary);
			justify-self: right;
			min-width: 80px;
			min-height: 80px;
			max-height: 80px;
			max-width: 80px;
			object-fit: cover;
			visibility: visible;
		}
		width: 0; // avoid having a bunch of images from gallery view
	}

	.postInfo {
		padding-right: var(--padding-size-secondary);
		* {
			visibility: visible;
			text-decoration: none;
		}
		// post title
		h1 {
			line-height: 1.5em;
			height: 3em;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 11pt;
			font-weight: normal;
		}
		// username / subreddit / time posted
		p {
			color: var(--text-color-tertiary);
			margin-top: 0;
			margin-bottom: var(--padding-size-primary);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			// username
			strong {
				font-weight: regular;
				color: var(--text-color-primary);
				margin-right: var(--padding-size-secondary);
			}
			a {
				margin-left: var(--padding-size-secondary);
			}
		}
	}

	.postContent {
		visibility: hidden;
	}
}

// expanded post
.post.expanded {
	display: block;
	max-height: fit-content;

	.postInfo {
		white-space: normal;

		h1 {
			font-size: 14pt;
			height: fit-content;
		}
	}
	.postContent {
		visibility: visible;
	}
	img,
	video {
		max-height: fit-content;
		max-width: 100%;
		width: 100%;
	}
}
