.post {
	transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-webkit-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-moz-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-o-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-ms-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;

	display: flex;
	justify-content: space-between;

	img,
	video {
		justify-self: right;
		height: 80px;
		visibility: visible;
	}

	.postInfo {
		width: 100%;
		padding-right: var(--padding-size-secondary);
		white-space: nowrap;
		* {
			visibility: visible;
			text-decoration: none;
		}
		// post title
		h1 {
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 15pt;
		}
		// username / subreddit / time posted
		p {
			color: var(--text-color-secondary);
			white-space: nowrap;
		}
	}

	.postContent {
		visibility: hidden;
	}

	color: var(--text-color-primary);
	padding: var(--padding-size-secondary);
	background-color: var(--background-color-quanternary);
	max-height: 100px;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 2px;
}

// expanded post
a.expanded .post,
.post.expanded {
	max-height: 600px;
	display: block;
	.postInfo {
		white-space: normal;
	}
	.postContent {
		visibility: visible;
	}
	img,
	video {
		height: 480px;
	}
}
