html.bestOfBoth,
#bestOfBothTheme {
	--background-color-primary: rgb(220, 210, 231);
	--background-color-secondary: rgb(14, 23, 38);
	--background-color-tertiary: rgb(255, 255, 255);

	--text-color-button: white;

	--border-color: rgba(234, 240, 245, 1);

	--accent-color-primary: rgba(88, 94, 254, 1);
	--accent-color-secondary: rgb(225, 210, 255);
	--accent-color-tertiary: rgb(46, 50, 94);

	--text-color-primary: rgba(0, 0, 0, 1);
	--text-color-secondary: rgba(0, 0, 0, 0.75);
	--text-color-tertiary: rgba(0, 0, 0, 0.6);

	#sidebar {
		--text-color-primary: rgba(200, 220, 240, 1);
		--text-color-secondary: rgba(92, 105, 127, 1);
		--accent-color-secondary: rgba(92, 105, 127, 1);

		#searchBar::placeholder {
			color: rgba(200, 220, 240, 1);
		}
	}

	.pillInside:hover {
		background-color: white;
	}
}
