html.defaultDark,
#defaultDarkTheme {
	--background-color-primary: rgb(32, 34, 37);
	--background-color-secondary: rgb(20, 20, 26);
	--background-color-tertiary: rgb(39, 41, 44);

	--text-color-button: white;

	--border-color: rgb(59, 59, 59);

	--accent-color-primary: rgb(88, 94, 254);
	--accent-color-secondary: rgb(52, 58, 64);

	--text-color-primary: rgba(255, 255, 255, 1);
	--text-color-secondary: rgba(255, 255, 255, 0.66);
	--text-color-tertiary: rgba(255, 255, 255, 0.4);
}
