html.defaultLight,
#defaultLightTheme {
	--background-color-primary: rgb(221, 229, 240);
	--background-color-secondary: rgb(246, 250, 253);
	--background-color-tertiary: rgb(255, 255, 255);

	--text-color-button: white;

	--border-color: rgba(234, 240, 245, 1);

	--accent-color-primary: rgba(88, 94, 254, 1);
	--accent-color-secondary: rgba(220, 230, 240, 1);
	--accent-color-tertiary: rgb(46, 50, 94);

	--text-color-primary: rgba(0, 0, 0, 1);
	--text-color-secondary: rgba(0, 0, 0, 0.75);
	--text-color-tertiary: rgba(0, 0, 0, 0.6);
}
