html.greenFlair,
#greenFlairTheme {
	--background-color-primary: rgb(225, 227, 231);
	--background-color-secondary: rgb(76, 81, 106);
	--background-color-tertiary: rgb(255, 255, 255);

	--text-color-button: white;

	--border-color: rgba(245, 247, 251, 1);

	--accent-color-primary: rgb(0, 204, 143);
	--accent-color-secondary: rgb(109, 112, 134);
	--accent-color-tertiary: rgb(0, 138, 117);

	--text-color-primary: rgba(0, 0, 0, 1);
	--text-color-secondary: rgba(0, 0, 0, 0.75);
	--text-color-tertiary: rgba(0, 0, 0, 0.6);

	#sidebar {
		--text-color-primary: rgba(230, 232, 243, 1);
		--text-color-secondary: rgba(178, 175, 208, 1);
		#sidebarSearchWrapper {
			background-color: rgba(109, 112, 134, 1);
			#searchBar::placeholder {
				color: rgba(230, 232, 243, 1);
			}
		}
	}

	.roundedLinks a {
		background-color: rgb(245, 247, 251);
		&:hover {
			background-color: rgb(78, 81, 106);
			color: rgb(218, 219, 224);
		}
	}

	.pillSelector {
		background-color: rgb(78, 81, 106);

		.pillInside {
			color: rgb(218, 219, 224);
			&:hover {
				color: rgb(218, 219, 224);
				background-color: rgba(109, 112, 134, 1);
			}
		}
		.selected .pillInside {
			color: white;
		}
	}
}
