html.gruvboxDark,
#gruvboxDarkTheme {
	--background-color-primary: rgb(29, 32, 33);
	--background-color-secondary: rgb(45, 43, 42);
	--background-color-tertiary: rgb(40, 40, 40);

	--text-color-button: rgba(235, 219, 178, 1);

	--border-color: rgba(60, 56, 54, 1);

	--accent-color-primary: rgba(254, 128, 25, 1);
	--accent-color-secondary: rgba(80, 73, 69, 1);
	--accent-color-tertiary: rgb(158, 70, 12);

	--text-color-primary: rgba(235, 219, 178, 1);
	--text-color-secondary: rgba(168, 153, 132, 1);
	--text-color-tertiary: rgba(125, 106, 94, 1);

	.selected {
		--text-color-button: rgb(40, 40, 40);
	}
	.votesContainer {
		--background-color-secondary: rgb(53, 51, 50);
	}
}
