html.gruvboxLight,
#gruvboxLightTheme {
	--background-color-primary: rgb(235, 218, 180);
	--background-color-secondary: rgb(235, 218, 180);
	--background-color-tertiary: rgb(251, 240, 201);

	--text-color-button: rgba(50, 46, 44, 1);

	--border-color: rgba(233, 216, 181, 1);

	--accent-color-primary: rgba(240, 103, 24, 1);
	--accent-color-secondary: rgba(208, 193, 153, 1);

	--text-color-primary: rgba(60, 56, 54, 1);
	--text-color-secondary: rgba(157, 0, 6, 1);
	--text-color-tertiary: rgba(121, 116, 14, 1);

	#sidebar {
		--background-color-secondary: rgba(215, 200, 158, 1);
	}
}
