html.horizonDark,
#horizonDarkTheme {
	--background-color-primary: rgb(19, 21, 29);
	--background-color-secondary: rgb(29, 31, 39);
	--background-color-tertiary: rgb(29, 31, 39);

	--text-color-button: white;

	--border-color: rgb(59, 59, 59);

	--accent-color-primary: rgb(234, 83, 120);
	--accent-color-secondary: rgb(43, 47, 56);

	--text-color-primary: rgba(203, 204, 207, 1);
	--text-color-secondary: rgba(150, 98, 92, 1);
	--text-color-tertiary: rgba(203, 204, 207, 0.4);

	.selected {
		--text-color-button: white;
	}
}
