#postModal {
	background-color: #ffffff;
	width: calc(100% - 20px);
	max-width: 1400px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	#commentContainer {
		max-height: 200px;
		overflow: overlay;
	}
	P {
		overflow-wrap: anywhere;
	}
}
