.post {
	color: white;
	margin: 15px 0;
	padding: 10px;
	background-color: #363636;
	.postContent {
		white-space: pre-wrap;
		max-height: 250px;
		overflow: auto;
	}
	img {
		height: 300px;
	}
	video {
		height: 500px;
	}
	.button {
		outline: none !important;
		background: var(--accent-color);
		border: none;
		margin: 5px;
		border-radius: var(--small-border-radius);
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 15px;
		padding-left: 15px;
		&:hover {
			background-color: rgba(255, 255, 255, 0.39);
		}
	}
}

.commentContainer {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	color: white;
	max-height: 700px;
	
    .comment {
		padding: 1px;
		background-color: black;
		margin-top: 8px;
		margin-bottom: 8px;

		.comment {
			margin-left: 20px;
			border-left: 2px solid rgba(255,255,255,.1)
		}
	}
	
}
