#contentContainer {
	overflow-x: hidden;
	position: relative;
	width: calc(100vw - 414px);
	max-width: calc(100vw - 414px);
	height: 100vh;
	margin-left: 414px;

	#timeline {
		max-width: 1400px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		a {
			text-decoration: none;
			.post {
				color: white;
				margin: 15px 0;
				padding: 10px;
				background-color: #363636;
				.postContent {
					white-space: pre-wrap;
				}
				img {
					width: 500px;
				}
			}
		}
	}
}
