html {
	--border-radius-primary: 8px;
	--border-radius-secondary: 11px;

	--padding-size-primary: 8px;
	--padding-size-secondary: 11px;
	--padding-size-tertiary: 24px;

	--dark-txt-col: white;
	--dark-txt-col-secondary: rgba(255, 255, 255, 0.66);
	--light-txt-col: black;
	--light-txt-col-secondary: rgba(0, 0, 0, 0.66);
}
