.genericButton {
	width: 100%;
	padding: var(--padding-size-secondary) 16px;
	margin: 5px auto;
	border-radius: var(--border-radius-primary);

	text-transform: capitalize;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	background: none;
	border: none;
	outline: none;

	color: var(--text-color-primary);
	font-size: 11pt;

	text-align: left;
	line-height: 20px;

	svg {
		width: 20px;
		float: left;
		margin-right: var(--padding-size-secondary);
		* {
			fill: none;
			stroke-width: 36px;
			stroke: var(--text-color-primary);
			stroke-linecap: round;
			stroke-linejoin: round;
		}
		.noStroke {
			stroke: none;
		}
	}

	.icon {
		border-radius: var(--border-radius-primary);
		float: left;
		margin-right: var(--padding-size-secondary);

		text-align: center;
		font-size: 10pt;
		font-weight: 600;

		width: var(--padding-size-tertiary);
		height: var(--padding-size-tertiary);
		line-height: var(--padding-size-tertiary);

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&:hover {
		background-color: var(--accent-color-secondary);
	}
}

// style applied to both hover and select effect
.selected .genericButton,
.genericButton:hover,
.genericButton.selected {
	svg {
		.fill {
			fill: var(--text-color-primary);
		}
	}
}

// style applied to JUST select effect
.selected .genericButton,
.genericButton.selected {
	background-color: var(--accent-color-primary) !important;
}
