// indents nested comments
.comment {
	color: var(--text-color-primary);
	width: calc(100% - var(--padding-size-primary));
	margin-left: var(--padding-size-primary);
	max-width: 100%;
	margin-top: 16px;
	padding-bottom: var(--padding-size-primary);
	overflow: hidden;

	// inset child comments
	.comment {
		margin-top: var(--padding-size-primary);
		margin-left: 0;
		width: 100%;
		padding-bottom: 0;
		padding-left: var(--padding-size-primary);
		border-left: dotted 3px var(--border-color);
	}

	.commentBody {
		background-color: var(--background-color-secondary);
		padding: var(--padding-size-primary) var(--padding-size-secondary);
		width: 100%;
	}
	.commentChildContainer {
		display: inline;
	}

	button {
		width: fit-content;
	}
}
