.timelineSortContainer {
	position: absoltue;
	width: 100%;
	top: 0;
	left: 0;
	padding: var(--padding-size-secondary);
	background-color: var(--background-color-tertiary);
	box-shadow: 0 12px 30px 4px rgba(0, 0, 0, 0.26);
}
