.post {
	color: white;
	margin: 15px 15px;
	padding: 10px;
	background-color: #363636;
	.postContent {
		max-height: 150px;
		overflow: auto;
	}
	img {
		height: 200px;
	}
	video {
		height: 200px;
	}
}
.top {
	.postContent {
		max-height: 300px;
	}
}
