a {
	user-select: text;
	text-decoration: none;
}

.postWrapper {
	background: var(--alt-background-color);
	margin: 10px 20px;
	overflow: hidden;

	&:first-of-type {
		border-radius: var(--bigger-border-radius) var(--bigger-border-radius) 0 0;
	}

	.post {
		transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease;
		-webkit-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease,
			max-height 0.3s ease;
		-moz-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease;
		-o-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease;
		-ms-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease;

		* {
			transition: height 0.3s ease;
			-webkit-transition: height 0.3s ease;
			-moz-transition: height 0.3s ease;
			-o-transition: height 0.3s ease;
			-ms-transition: height 0.3s ease;
		}

		display: flex;
		position: relative;
		box-shadow: -10px 0px 25px 0px rgba(0, 0, 0, 0.5);
		color: var(--text-color-primary);
		padding: 15px;
		background-color: var(--box-background-color);
		max-height: 150px;
		min-height: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-bottom: 86px; // post controls height + normal padding (avoids text moving when hovering)

		.postInfo,
		.postContent {
			flex-wrap: wrap;
		}
		h1 {
			font-size: 16pt;
			flex-wrap: wrap;
		}
		.postContent {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		img,
		video {
			order: -1;
			border-radius: calc(var(--small-border-radius) - (var(--small-border-radius) / 2));
			float: left;
			height: 120px;
			margin-right: 15px;
		}
	}
}

// enlarge post
.top {
	.postWrapper {
		border-radius: 0 var(--bigger-border-radius) var(--bigger-border-radius) var(--bigger-border-radius);
		margin-bottom: 25px;
	}
	.post {
		max-height: 250px; // img/video height + padding * 2
		margin-left: 76px;
		padding-right: 10px; // revert to normal padding (avoids text moving when hovering)
		img,
		video {
			height: 500px;
		}
	}
}
