#subredditInfoBar {
	flex-shrink: 0;
	width: 500px;
	padding: var(--padding-size-tertiary);
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	color: var(--text-color-primary);
	background-color: var(--background-color-tertiary);

	h2 {
		font-size: 16pt;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--background-color-tertiary);
	}
	&::-webkit-scrollbar-track:hover {
		background-color: var(--background-color-quanternary);
	}
	&::-webkit-scrollbar-thumb {
		border-color: var(--background-color-tertiary);
	}
	&::-webkit-scrollbar-thumb:hover {
		border-color: var(--background-color-quanternary);
	}
}
