#subredditInfoBar {
	flex-shrink: 0;
	width: 500px;
	padding: var(--padding-size-tertiary);
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	color: var(--text-color-primary);
	background-color: var(--background-color-tertiary);

	h2 {
		font-size: 16pt;
	}
}
