#sidebar {
	background: var(--background-color-secondary);
	color: var(--dark-txt-col);

	margin: auto;
	padding: 16px var(--padding-size-tertiary);

	position: relative;

	box-sizing: border-box;
	height: 100vh;
	width: 300px;
	flex-shrink: 0;

	* {
		user-select: none;
	}

	transition: width 0.4s ease, padding 0.4s ease;
	-webkit-transition: width 0 0.4s ease, padding 0.4s ease;
	-moz-transition: width 0.4s ease, padding 0.4s ease;
	-o-transition: width 0.4s e ase, padding 0.4s ease;
	-ms-transition: width 0.4s ease, padding 0.4s ease;

	// serach bar
	input#searchBar {
		width: 100%;
		display: block;
		border: none;
		outline: none;
		font-weight: 400;
		font-size: 11pt;
		min-height: 44px;
		margin: var(--padding-size-tertiary) 0;
		padding: var(--padding-size-secondary) 16px;
		border-radius: var(--border-radius-primary);
		background: var(--accent-color-secondary);
		color: var(--text-color-primary);

		&::placeholder {
			color: var(--text-color-secondary);
		}
	}

	// scrollable section of sidebar eg: feeds
	.scrollSection {
		display: block;
		position: relative;

		overflow-y: auto;
		overflow-x: hidden;

		width: 100%;
		max-height: 52%;

		border-radius: var(--border-radius-primary);
		cursor: pointer;

		&::-webkit-scrollbar-track {
			background-color: var(--background-color-secondary);
		}
		&::-webkit-scrollbar-track:hover {
			background-color: var(--background-color-tertiary);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--accent-color-secondary);
			border-color: var(--background-color-secondary);
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: #a0a0a5;
			border-color: var(--background-color-tertiary);
		}
	}

	h3 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#logo {
		width: 38px;
		vertical-align: middle;
		margin-right: var(--padding-size-secondary);
	}

	// Hydrova text
	#navTitle {
		color: var(--text-color-primary);
		font-weight: 600;
		font-size: 13pt;
		display: inline-block;
	}
}

// subtitle eg: "My Subreddits"
h3 {
	margin-left: 5px;
	text-transform: uppercase;
	color: var(--text-color-secondary);
	font-size: 10pt;
	font-weight: 600;
	letter-spacing: 1px;
}

// details about current logged in user
#userDetails {
	font-size: 11pt;
	width: calc(100% - 48px);
	height: 62px;

	position: absolute;
	bottom: 20px;
	left: var(--padding-size-tertiary);

	background-color: var(--accent-color-secondary);
	border-radius: var(--border-radius-primary);

	// container for user details eg: username / karama count
	#userText {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		left: 65px;

		width: calc(100% - 100px);
		height: 45px;

		overflow: hidden;

		* {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			position: absolute;
			left: 0;

			margin: 0;
		}

		#userName {
			top: 0;
			font-weight: 600;
			color: var(--text-color-primary);
		}
		#userKarma {
			bottom: 0;
			color: var(--text-color-secondary);
			&::after {
				content: ' Karma';
			}
		}
	}

	#profileImage {
		border: 2px solid var(--text-color-secondary);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 7px;
		width: 50px;
		height: 50px;
		border-radius: var(--border-radius-primary);
		background-size: cover;
		background-position: center;
	}
}
