// indents nested comments
.comment {
	color: var(--text-color-primary);
	width: calc(100% - var(--padding-size-primary));
	max-width: 100%;
	margin-top: 16px;
	padding-bottom: var(--padding-size-primary);

	// username / time posted
	.commentInfo {
		color: var(--text-color-tertiary);
		margin-top: 0;
		margin-bottom: var(--padding-size-primary);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		// padding between elements
		> * {
			margin-left: var(--padding-size-secondary);
		}
		> *:first-child {
			margin-left: 0;
		}
	}

	.commentChildContainer {
		display: inline;
		.comment {
			margin-top: calc(2 * var(--padding-size-primary));
		}
	}

	.commentBody {
		width: 100%;

		.md {
			p {
				margin: var(--padding-size-primary) 0;
			}
		}
	}

	button {
		width: fit-content;
	}
}
