.pillSelector {
	padding: var(--padding-size-primary);
	display: block;
	height: fit-content;
	width: fit-content;
	border-radius: var(--border-radius-primary);
	margin: 20px auto;
	display: flex;
	overflow: hidden;
	background-color: var(--accent-color-secondary);

	.pillInside {
		border-radius: var(--padding-size-primary);
		margin-right: var(--padding-size-primary);
		cursor: pointer;
		padding: var(--padding-size-primary) var(--padding-size-secondary);
		text-align: center;
		color: var(--text-color-secondary);
		text-transform: capitalize;
		flex-grow: 1;
		flex-basis: 0;
		width: 120px;
		position: relative;
		&:hover {
			font-weight: 600;
			background-color: var(--text-color-primary);
			color: var(--background-color-secondary);
		}
	}
	.selected > .pillInside {
		color: var(--text-color-button);
		font-weight: 600;
		background-color: var(--accent-color-primary) !important;
	}
}
