.post {
	transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease, min-height 0.3s ease;
	-webkit-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-moz-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-o-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;
	-ms-transition: padding 0.25s ease, border-radius 0.25s ease, margin 0.25s ease, max-height 0.3s ease,
		min-height 0.3s ease;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	font-size: 11pt;

	color: var(--text-color-primary);
	padding: var(--padding-size-secondary);
	max-height: calc(80px + 2 * (var(--padding-size-secondary)));
	min-height: calc(80px + 2 * (var(--padding-size-secondary)));
	overflow: hidden;

	border-width: 2px;
	border-bottom-style: solid;
	border-color: var(--border-color);

	img,
	video {
		&:first-child {
			border-radius: var(--border-radius-primary);
			justify-self: right;
			min-width: 80px;
			min-height: 80px;
			max-height: 80px;
			max-width: 80px;
			object-fit: cover;
			visibility: visible;
		}
		width: 0; // avoid having a bunch of images from gallery view
	}

	.postInfo {
		padding-right: var(--padding-size-secondary);
		* {
			visibility: visible;
			text-decoration: none;
		}
		// post title
		h1 {
			line-height: 1.5em;
			height: 3em;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 11pt;
			font-weight: normal;
		}
		// username / subreddit / time posted
		p {
			color: var(--text-color-tertiary);
			margin-top: 0;
			margin-bottom: var(--padding-size-primary);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			// padding between elements
			> * {
				margin-left: var(--padding-size-secondary);
			}
			> *:first-child {
				margin-left: 0;
			}
		}
	}

	// thumbnail for text/markdown posts
	.data {
		svg {
			padding: var(--padding-size-primary);
			width: 80px;
			height: 80px;
			border-radius: var(--border-radius-primary);
			background: var(--accent-color-secondary);

			* {
				fill: none;
				stroke-width: 28px;
				stroke: var(--text-color-tertiary);
				stroke-linecap: round;
				stroke-linejoin: round;
			}
			.noStroke {
				stroke: none;
			}
		}
	}

	.postContent {
		visibility: hidden;
	}
}

// expanded post
.post.expanded {
	display: block;
	max-height: fit-content;

	.postInfo {
		white-space: normal;

		h1 {
			font-size: 14pt;
			height: fit-content;
		}
	}
	.postContent {
		visibility: visible;
		margin: 0 auto;
		width: fit-content;

		.galleryContent {
			overflow-y: hidden;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			max-height: 75vh;
			white-space: nowrap;
			scroll-snap-type: x mandatory;
			.galleryInternalImage {
				scroll-snap-align: start;
				width: 100%;
				display: inline-block;
				text-align: center;
				img {
					max-height: calc(75vh - 16px);
					margin: 0 var(--padding-size-primary);
					border-radius: var(--border-radius-primary);
				}
			}
		}
	}
	img,
	video {
		height: auto;
		min-height: auto;
		max-height: 75vh;
		width: auto;
		min-width: auto;
		max-width: 100%;
		object-fit: contain;
	}
}
