#sidebar {
	background: var(--background-color-secondary);
	color: var(--dark-txt-col);

	padding: 16px var(--padding-size-tertiary);

	position: relative;

	box-sizing: border-box;
	height: 100vh;

	width: 300px;
	max-width: 300px;
	flex-shrink: 3; //will be the first to compress to save space
	justify-self: left;

	h3,
	button {
		user-select: none;
		will-change: opacity, color;
		transition: color 0.2s ease;
		-webkit-transition: color 0.2s ease;
		-moz-transition: color 0.2s ease;
		-o-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
	}

	transition: max-width 0.4s ease, padding 0.4s ease;
	-webkit-transition: max-width 0.4s ease, padding 0.4s ease;
	-moz-transition: max-width 0.4s ease, padding 0.4s ease;
	-o-transition: max-width 0.4s ease, padding 0.4s ease;
	-ms-transition: max-width 0.4s ease, padding 0.4s ease;

	// container for "Hydrova" logo
	#navTitleContainer {
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
		width: fit-content;
	}

	// serach bar
	#sidebarSearchWrapper {
		min-height: 44px;
		width: 100%;
		display: block;
		margin: var(--padding-size-tertiary) 0;
		padding: var(--padding-size-secondary) 16px;
		border-radius: var(--border-radius-primary);
		background: var(--accent-color-secondary);
		white-space: nowrap;
		overflow: hidden;

		svg {
			width: 20px;
			float: left;
			margin-right: var(--padding-size-secondary);
			* {
				fill: none;
				stroke-width: 42px;
				stroke: var(--text-color-primary);
				stroke-linecap: round;
				stroke-linejoin: round;
			}
			.noStroke {
				stroke: none;
			}
		}

		// hover/focus effect
		&:hover,
		&:focus-within {
			svg {
				.fill {
					fill: var(--text-color-primary);
				}
			}
		}
		&:hover {
			filter: brightness(1.35);
		}
		&:focus-within {
			background-color: var(--accent-color-primary);
			filter: brightness(1) !important;
		}

		input {
			display: inline-block;
			border: none;
			outline: none;
			background: none;
			font-weight: 400;
			font-size: 11pt;
			width: calc(100% - 20px - var(--padding-size-secondary));
			color: var(--text-color-primary);

			&::placeholder {
				color: var(--text-color-secondary);
			}
		}
	}

	// scrollable section of sidebar eg: feeds
	.scrollSection {
		display: block;
		position: relative;

		overflow-y: auto;
		overflow-x: hidden;

		margin-top: var(--padding-size-tertiary);

		padding-bottom: 40px;

		width: 100%;
		max-height: 53%;

		border-radius: var(--border-radius-primary);
		cursor: pointer;

		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}

	h3 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#logo {
		width: 38px;
		vertical-align: middle;
		margin-right: var(--padding-size-secondary);
		transition: margin 0.4s ease;
		-webkit-transition: margin 0.4s ease;
		-moz-transition: margin 0.4s ease;
		-o-transition: margin 0.4s ease;
		-ms-transition: margin 0.4s ease;
	}

	// Hydrova text
	#navTitle {
		color: var(--text-color-primary);
		font-weight: 600;
		font-size: 13pt;
		display: inline-block;
	}

	// Sidebar slim icon only view
	&.compact {
		padding: 16px var(--padding-size-primary);
		max-width: calc(2 * var(--padding-size-primary) + 52px);
		* {
			color: transparent !important;
		}
		h3 {
			color: var(--text-color-secondary) !important;
			text-align: center;
			margin-left: 0;
		}
		#rAllFeed {
			color: var(--text-color-primary) !important;
		}
		#logo {
			margin-left: var(--padding-size-primary);
			margin-right: var(--padding-size-primary);
		}
		#userDetails {
			padding: var(--padding-size-secondary) var(--padding-size-primary);
		}
	}
}

// subtitle eg: "My Subreddits"
h3 {
	margin-left: 5px;
	text-transform: uppercase;
	color: var(--text-color-secondary);
	font-size: 10pt;
	font-weight: 600;
	letter-spacing: 1px;
}

// details about current logged in user
#userDetails {
	font-size: 11pt;
	width: 100%;

	white-space: nowrap;
	overflow: hidden;

	transition: padding 0.4s ease;
	-webkit-transition: padding 0.4s ease;
	-moz-transition: padding 0.4s ease;
	-o-transition: padding 0.4s ease;
	-ms-transition: padding 0.4s ease;

	padding: var(--padding-size-secondary) var(--padding-size-tertiary);

	box-shadow: 0px -40px 40px 0px var(--background-color-secondary);
	background-color: var(--background-color-secondary);

	position: absolute;
	bottom: 0;
	left: 0;

	// container for user details eg: username / karama count
	#userText {
		position: relative;
		height: 50px;
		width: calc(100% - (var(--padding-size-primary) + 50px));
		margin-left: var(--padding-size-primary);
		display: inline-block;
		overflow: hidden;

		* {
			position: absolute;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: 0;
			left: 0;
		}

		#userName {
			color: var(--text-color-primary);
			top: 5px;
		}
		#userKarma {
			color: var(--text-color-secondary);
			bottom: 5px;
			&::after {
				content: ' Karma';
			}
		}
	}

	#profileImage {
		border: 2px solid var(--border-color);
		border-radius: var(--border-radius-primary);

		float: left;
		vertical-align: middle;

		width: 50px;
		height: 50px;

		background-size: cover;
		background-position: center;
	}
}
