.voteControls {
	color: var(--text-color-primary);
	background-color: var(--accent-color-secondary);
	border-radius: var(--border-radius-primary);
	margin: var(--padding-size-primary);
	padding: var(--padding-size-primary);

	vertical-align: middle;

	&::-webkit-scrollbar {
		width: 0 !important;
		height: 0 !important;
	}
}

// TODO: Move this back inside of voteControls (this should not be accessible)
// container that has upvote/downvote btn and vote count inside
.votesContainer {
	display: inline-flex;
	margin-right: var(--padding-size-primary);
	height: 42px;
	padding: calc(var(--padding-size-primary) / 2);
	border-radius: var(--border-radius-primary);
	background-color: var(--background-color-secondary);

	vertical-align: middle;

	button {
		padding: calc(var(--padding-size-secondary) - (var(--padding-size-primary) / 2)) 8px;
	}

	span {
		margin: auto var(--padding-size-primary);
	}
}
