* {
	font-family: -apple-system-font, BlinkMacSystemFont, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--page-color);
}

#root {
	width: 100vw;
	overflow-x: hidden;
}