.voteControls {
	color: var(--text-color-primary);
	background-color: var(--alt-background-color);
	border-radius: var(--small-border-radius);
	margin: 8px;
	padding: 8px;
	text-align: center;

	width: 80px;
	height: fit-content;
	flex-shrink: 0;

	// container that has upvote/downvote btn and vote count inside
	.votesContainer {
		padding: 5px;
		margin-bottom: 8px;
		border-radius: var(--small-border-radius);
		background-color: var(--background-color);

		button {
			background-color: var(--accent-background-color);
		}
	}
}
