.voteControls {
	color: var(--text-color-primary);
	background-color: var(--background-color-primary);
	border-radius: var(--border-radius-primary);
	margin: var(--padding-size-primary);
	padding: var(--padding-size-primary);
	text-align: center;

	width: 80px;
	height: fit-content;
	flex-shrink: 0;

	// container that has upvote/downvote btn and vote count inside
	.votesContainer {
		padding: 5px;
		margin-bottom: var(--padding-size-primary);
		border-radius: var(--border-radius-primary);
		background-color: var(--background-color-secondary);

		button {
			background-color: var(--accent-color-secondary);
		}
	}
}
